Repository attakei-lab/sphinx-extensions-catalog: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-fomat, ruff-fix, mypy, doc8

ruff-fomat:
  run: uv run ruff format {staged_files}
  stage_fixed: true

ruff-fix:
  run: uv run ruff format {staged_files}
  stage_fixed: true

mypy:
  run: uv run mypy {staged_files}

doc8:
  run: uv run doc8 --max-line-length=119 {staged_files}

content: Initial content
  content/conf.py
  content/index.rst
Due: ruff-fomat, ruff-fix, mypy, doc8

feat: Configure workspace
  .editorconfig
  .textlintrc.json
  README.md
  Taskfile.dist.yaml
  Taskfile.yaml
  biome.jsonc
  content/index.rst
  content/introduction.rst
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: doc8

content: Draft introduction
  content/introduction.rst
Due: doc8

content: Update draft
  content/introduction.rst
Due: doc8

draft: About oEmbedPy
  drafts/oembedpy.rst
Due: doc8

draft: About sphinx-nekochan
  drafts/sphinx-nekochan.rst
Due: doc8

draft: Update heading format
  drafts/oembedpy.rst
Due: doc8

draft: Add category
  drafts/oembedpy.rst
  drafts/sphinx-nekochan.rst
Due: doc8

chore: Template of articles
  template.rst
Due: doc8

draft: Add sphinx.ext.githubpages
  drafts/sphinx.ext.githubpages.rst
Due: doc8

feat: Enable auto-fix by textlint when pre-commit
  lefthook.yaml
Due: none

fix: Revert -1 : when fix is failure, message does not show
  lefthook.yaml
Due: none

draft: Add atsphinx-footnotes
  drafts/atsphinx-footnotes.rst
Due: doc8

fix: Use remote configurations of workspace
  .env.example
  .gitignore
  Taskfile.dist.yaml
  Taskfile.yaml
  lefthook.yaml
Due: none

content: Fix for textlint
  drafts/sphinx.ext.githubpages.rst
Due: doc8

fix: Adjust current remote taskfile
  Taskfile.yaml
Due: none

feat: Install textlint when setup
  Taskfile.yaml
Due: none

draft: Add atsphinx-mini18n
  drafts/atsphinx-mini18n.rst
Due: doc8

content: About "sample edition"
  content/about-sample.rst
  content/index.rst
Due: doc8

content: Register extensions into each categories
  content/add-directives/index.rst
  content/add-directives/oembedpy.rst
  content/add-directives/sphinx-nekochan.rst
  content/extend-inout/atsphinx-mini18n.rst
  content/extend-inout/index.rst
  content/index.rst
  content/introduction.rst
  content/others/index.rst
  content/others/sphinx.ext.githubpages.rst
Due: doc8

feat: Make pdf and epub on GHA
  .github/workflows/main.yml
  .mise.toml
  tools/makepdf
Due: none

content: Fix for textlint
  content/about-sample.rst
  content/extend-inout/atsphinx-mini18n.rst
  content/introduction.rst
Due: doc8

feat: Set up as sample
  content/conf.py
  content/index.rst
Due: ruff-fomat, ruff-fix, mypy, doc8

Path conditions:
  ruff-fomat: any of: *.py
  ruff-fix: any of: *.py
  mypy: any of: *.py
  doc8: any of: *.rst
